Repository cinder/Cinder, pull requests merged in 2018-03, with the labels that each got.

#1977 Make ci::audio usable when there is no app on MSW
  include/cinder/audio/msw/ContextWasapi.h
  src/cinder/audio/Context.cpp
  src/cinder/audio/msw/ContextWasapi.cpp
  src/cinder/audio/msw/DeviceManagerWasapi.cpp
  src/cinder/audio/msw/FileMediaFoundation.cpp
Labels: audio, msw

#1986 Fixed issue that prevents Texture1d/3d to use glTexStorage
  src/cinder/gl/Texture.cpp
Labels: gl

#1989 removed old xaudio test app, that backend is no longer supported
  test/_audio/EffectsXAudioTest/src/EffectsXAudioTestApp.cpp
  test/_audio/EffectsXAudioTest/vc2015/EffectsXAudioTest.sln
  test/_audio/EffectsXAudioTest/vc2015/EffectsXAudioTest.vcxproj
  test/_audio/EffectsXAudioTest/vc2015/EffectsXAudioTest.vcxproj.filters
Labels: audio

#1990 ignore Visual Studio 2015/2017 cache/options directory
  .gitignore
Labels: msw
